/**
    Стили для форм
 */
.label-input{
    padding: 5px;
    color:#ffdecf ;
    font-size: 20px;
    margin: 10px;
    width: 55%;
}
.input-data{
     height: 25px;
     width: 190px;
     margin: 15px auto;
     background-color: #3f4441;
     font-size: 18px;
     color: #ffdecf;
     border: none;
     border-bottom: 1px solid #ffdecf;
}
.input-data.none{
    display: none;
}
.input-data.error{
      border-bottom: 1px solid red;
}
.input-data::placeholder{
    color: #ffdecf;
}
.input-time{
    height: 25px;
    width: 90px;
    margin: 15px -5px;
    background-color: #3f4441;
    color: #ffdecf;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ffdecf;
}
.input-div{
    /*width: 45%;*/
    height: 30px;
    display: flex;
    background-color: transparent;
}
.hidden-div{
    display: flex;
    padding-bottom: 15px;

}
.hidden-div.active{
    display: none;
}
.error-label{
    display: block;
    color: red;
    padding-bottom: 10px;
    font-size: 11px;
    margin-top: -10px;
}
.div-form-item{
    display: flex;
    padding-bottom: 15px;
}
.button{
    height: 50px;
    width: 140px;
    color: #ffdecf;
    background-color: #5e6f64;
    font-size: 20px;
    transition: 0.5s;
    border: none;
    margin: 25px auto 0px;
}
.button:hover{
    height: 51px;
    width: 151px;
    color: #5e6f64;
    background-color: #ffdecf;
    font-size: 20px;
    border-radius: 10px;
    border-color:#5e6f64 ;
}
.a-button{
    line-height: 2.3;
    display: inline-block;
    text-align: center;
}
.a-need-work{
    margin-top: -38px;
    font-size: 12px;
    text-decoration: underline;
    color: #cbcbcb;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.a-need-work:hover{
    font-size: 14px;
    color: #ffdecf;
}
.a-delete-timetable{
    margin: 37px auto auto;
}
.img-delete-lesson{
    transition: 0.25s;
}
.img-delete-lesson:hover{
    transform: scale(1.2);
}