.reminder-container{
    width: 40%;
    padding: 5px 30px 30px;
}
.reminder-title{
    text-align: center;
    font-size: 35px;
}
.reminder{
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    background: #58605c;
    width: 90%;
    height: 90px;
    display: flex;
}
.name-reminder{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.quest-container{
    background: #3f4441;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    width: 70%;
}
.quest-text{
    padding: 5px;
    margin: 0;
    font-size: 18px;
}
.name-container{
    width: 30%;
    font-size: 16px;
}
.reminders-container{
    overflow-y: auto;
    max-height: 95%;
}




