html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    border:0;
    background:#3f4441;

}
a{
    text-decoration: none;
}
.title{
    padding: 15px 15px 100px 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffdecf;
}
.vBox{
    display: flex;
    height: 100%;
    width: 100%;
}
.menu{
    background:#5e6f64 ;
    height: 90%;
    width: 250px;
    margin: 15px;
    border-radius:20px;
}
.menu_button{
    height: 35px;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffdecf;
    transition: .5s;
}
.menu_button:hover{
    background: #768b7d;
    font-size: 22px;
}
.main_container{
    background: #3f4441;
    height: 100%;
    width: 100%;
}
.timetable{
    display: flex;
    width: 100%;
    height:130px ;

}
table {
    border: 1px solid;

}
th{
    border-bottom: 1px solid;

}

.day{
    width: 15%;
    border-color: #ffdecf ;
    color: #ffdecf;
    empty-cells: show;
    heihgt:100%;
}
.not_border{
    border-bottom: none;
}
.button_next {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding:  20px 20px 20px 5px ;
    width: 64px;
    align-content: center;
}
.button_back {
    display: flex;
    flex-wrap: wrap;
    margin-right:0 ;
    padding: 20px 5px 20px  20px ;
    width: 64px;
    align-content: center;
}

.second_container{
    width: 100%;
    display:flex;
}
.reminder_container{
    width: 30%;
}
.reminder_title{
    padding: 30px ;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffdecf;
    margin: 15px;
}
.reminder{
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    background: #58605c;
    width: 90%;
    height: 80px;
    display: flex;
    text-decoration: none;
}
.name_reminder{
    color: #ffdecf;
    margin-bottom: 15px;
}
.quest_container{
    background: #3f4441;
    border-radius: 5px;
    color: #ffdecf;
    padding: 3px;
    margin: 5px;
    width: 70%;
    font-size: 14px;
}
.name_container{
    width: 30%;
    font-size: 16px;
}
td{
    height:10px;
    padding-left:3px;
}
.lab_color{
    background:#c9ac4cff ;
}
.practice_color{
    background: #674cc9;
}
.lecture_color{
    background: #87b93c;
}
.consultation_color{
    background: #4cc5c9ff;
}
.tabs {
    max-width: 600px;
    margin: 50px auto;
}
.tabs__nav {
    display: flex;
}
.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #3f4441;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
    color:#ffdecf ;
    width: 50%;
}

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: #ffdecf;
    color:#3f4441 ;
}

.tabs__nav-btn.active {
    background-color: #ffdecf;
    border-right-color: #ffdecf;
    color:#3f4441 ;
}

.tabs__content {
    padding: 30px;
    background-color: #3f4441;
    border: 1px solid #ffdecf;
    color: #ffdecf ;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}
.label_input{
    padding: 5px;
    color:#ffdecf ;
    font-size: 20px;
    margin: 10px;
    width: 55%;
}
.input-data{
    height: 25px;
    width: 190px;
    margin: 15px auto;
    background-color: #3f4441;
    font-size: 18px;
    color: #ffdecf;
    border: none;
    border-bottom: 1px solid #ffdecf;
}
.input-data.error{
    border-bottom: 1px solid red;
}
.input-time{
    height: 25px;
    width: 90px;
    margin: 15px -5px;
    background-color: #3f4441;
    color: #ffdecf;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ffdecf;
}
.input-div{
    width: 100%;
    align-content: center;
    height: 30px;
    background-color: transparent;
}
.hidden-div{
    display: flex;
    padding-bottom: 15px;

}
.hidden-div.active{
    display: none;
}
.button-menu{
    height: 50px;
    width: 100%;
    color: #ffdecf;
    background-color: #5e6f64;
    font-size: 20px;
    transition: 0.5s;
    border: none;
    margin: 10px auto;
}
.button-menu:hover{
    color: #5e6f64;
    background-color: #ffdecf;
    font-size: 20px;
    border-radius: 10px;
    border-color:#5e6f64 ;
}
.button{
    height: 50px;
    width: 150px;
    color: #ffdecf;
    background-color: #5e6f64;
    font-size: 20px;
    transition: 0.5s;
    border: none;
    margin: 10px auto;
}
.button:hover{
    height: 51px;
    width: 151px;
    color: #5e6f64;
    background-color: #ffdecf;
    font-size: 20px;
    border-radius: 10px;
    border-color:#5e6f64 ;
}
.error-label{
    display: block;
    color: red;
    padding-bottom: 10px;
    font-size: 11px;
}
.div-form-item{
    display: flex;
    padding-bottom: 15px;
}


