/**
    Основные стили страниц
 */
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    border:0;
    background:#3f4441;
    color: #ffdecf;
    font-family: 'Nunito', serif;
    font-weight: bold;

}
a,p,button{
    color: #ffdecf;
    font-family: 'Nunito', serif;
    font-weight: bold;
    text-decoration: none;
}
.vBox{
    display: flex;
    height: 100%;
    width: 100%;
}
.main-container{
    height: 100%;
    width: 100%;
}
.second-container{
    display: flex;
    width: 100%;
}
.div-flex{
    display: flex;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #4e5451;
    border-radius:8px;
}
::-webkit-scrollbar-thumb{
    background: #5e6f64;
    border-radius: 8px;
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background: #ffdecf;
}
/**
    Стили бокового меню
*/
.title{
    padding: 15px 15px 100px 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffdecf;

}
.title-a{
    transition: 0.3s;
}
.title-a:hover{
    font-size: 25px;
    scale: 1.2;
}
.menu{
    background: #5e6f64;
    width: 15%;
    min-width: 230px;
    position: relative;
}

.main-container{
    background: #3f4441;
    height: 100%;
    width: 100%;
}
.button-menu{
    height: 60px;
    width: 100%;
    color: #ffdecf;
    background-color: #5e6f64;
    font-size: 20px;
    transition: 0.5s;
    border: none;
    text-align: left;
    padding-left: 45px;
}
.button-menu:hover{
    color: #5e6f64;
    background-color: #ffdecf;
    font-size: 24px;
    border-color:#5e6f64 ;
}
.div-logout{
    bottom: 0;
    position: absolute;
    width: 100%;
}
