/*
    Стили табов на главной странице и отображения напоминаний
 */
.tabs {
    max-width: 600px;
    margin: 50px auto;
}
.tabs-nav {
    display: flex;
}
.tabs-nav-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #3f4441;
    border: 0;
    cursor: pointer;
    color:#ffdecf ;
    width: 50%;
    text-align: center;
    transition: 0.5s;
}

.tabs-nav-btn:last-child {
    border-right: none;
}

.tabs-nav-btn:hover {
    background-color: #ffdecf;
    color:#3f4441 ;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.tabs-nav-btn.lab:hover{
    border-bottom-right-radius: 15px;
}
.tabs-nav-btn.task:hover{
    border-bottom-left-radius: 15px;
}

.tabs-nav-btn.active {
    background-color: #ffdecf;
    color:#3f4441 ;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.tabs-content {
    padding: 30px;
    background-color: #3f4441;
    border: 1px solid #ffdecf;
    width: 410px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.tabs-content.lab{
    border-top-left-radius: 15px;
}
.tabs-content.task{
    border-top-right-radius: 15px;
}
.tabs-item {
    display: none;
}

.tabs-item.active {
    display: block;
}
.form-reminder-update{
    border: 1px solid #ffdecf;
    border-radius: 20px;
    margin: auto;
    padding: 25px;
    width: 430px;
}




