/*
    Стили однонедельного расписания
 */
.timetable{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.container-timetable{
    display: flex;
    margin: auto;
    height: 210px;
    width: 98%;
}
.one-day{
    width: 15%;
}
.day-name-div{
    background: #ffdecf;
    margin: 0 14px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    color: #3f4441;
}
.day-name{
    color: #3f4441;
    margin: auto;
    cursor: context-menu;
}
.not-border{
    border-bottom: none;
}
.button-week{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    height: 100%;
    width: 64px;
    align-content: center;
}
.next {
    margin-left:15px ;
}
.back {
    margin-right:15px ;
}
.lesson-div{
    color: #ffdecf;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    padding-left: 3px;
    transition: 0.5s;
    cursor: context-menu;
}
.lesson-div.lab{
    background:#c9ac4cff ;
}
.lesson-div.practice{
    background: #674cc9;
}
.lesson-div.lecture{
    background: #87b93c;
}
.lesson-div.consultation{
    background: #4cc5c9ff;
}
.lesson-name-p{
    padding: 3px;
    margin: 0;
    width: 100%;;
}
