<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="data:,">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
  <link media="all" rel="stylesheet" th:href="@{/css/timetable.css}" type="text/css"/>
  <link media="all" rel="stylesheet" th:href="@{/css/reminders.css}" type="text/css"/>
  <link media="all" rel="stylesheet" th:href="@{/css/tabs.css}" type="text/css"/>
  <link media="all" rel="stylesheet" th:href="@{/css/form.css}" type="text/css"/>
  <title>Главная</title>
</head>
<body>
<div class="vBox">
  <div class="menu">
    <div class="title">
      <a href="/" class="title-a" method="get" >Студеньческий органайзер</a>
    </div>
    <div class="menu_buttons">
      <a href="/lessons">
        <button  class="button-menu" > Предметы </button>
      </a>
      <a href="/timetable">
        <button class="button-menu" >  Расписание </button>
      </a>

    </div>
    <div class="div-logout">
      <form th:action="@{/logout}" method="post">
        <input class="button-menu" icon="/img/logout.png" type="submit" value="Выйти"/>
      </form>
    </div>
  </div>
  <div class="main-container">
    <div class="timetable">
      <div class="container-timetable">
      <a href="/-" class="button-week back"  ><img src="/img/right.png" alt="Кнопка «button»"></a>
        <div class="one-day">
          <div class="day-name-div" >
            <p class="day-name">Понедельник</p>
          </div>
          <div th:each="lesson:${lessons[0]}" >
            <div th:switch="${lesson.type}">
              <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                  <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="*" th:text="'&#160'"></div>
            </div>
          </div>
        </div>
        <div class="one-day">
          <div class="day-name-div" >
            <p class="day-name">Вторник</p>
          </div>
          <div th:each="lesson:${lessons[1]}" >
            <div th:switch="${lesson.type}">
              <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="*" th:text="'&#160'"></div>
            </div>
          </div>
        </div>
        <div class="one-day">
          <div class="day-name-div" >
            <p class="day-name">Среда</p>
          </div>
          <div th:each="lesson:${lessons[2]}" >
            <div th:switch="${lesson.type}">
              <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="*" th:text="'&#160'"></div>
            </div>
          </div>
        </div>
        <div class="one-day">
          <div class="day-name-div" >
            <p class="day-name">Четверг</p>
          </div>
          <div th:each="lesson:${lessons[3]}" >
            <div th:switch="${lesson.type}">
              <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="*" th:text="'&#160'"></div>
            </div>
          </div>
        </div>
        <div class="one-day">
          <div class="day-name-div" >
            <p class="day-name">Пятница</p>
          </div>
          <div th:each="lesson:${lessons[4]}" >
            <div th:switch="${lesson.type}">
              <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="*" th:text="'&#160'"></div>
            </div>
          </div>
        </div>
        <div class="one-day">
          <div class="day-name-div" >
            <p class="day-name">Суббота</p>
          </div>
          <div th:each="lesson:${lessons[5]}" >
            <div th:switch="${lesson.type}">
              <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                <p class="lesson-name-p" th:text="${lesson.name}"></p>
              </div>
              <div th:case="*" th:text="'&#160'"></div>
            </div>
          </div>
        </div>

      <a href="/+" class="button-week next"><img src="/img/left.png" alt="Кнопка «button»"></a>
    </div>
    </div>
    <div class="second-container">
      <div class="reminder-container">
        <div class="reminder-title">
          <p>Задания</p>
        </div>
        <div class="reminders-container">
          <a th:each="reminder:${reminders}" th:href="@{/reminder-update/{id}(id=${reminder.getId()})}" class="reminder">
            <div class="name-container" >
              <p class="name-reminder" th:text="${reminder.lessonName}">Предмет</p>
              <p class="name-reminder" th:text="${reminder.date}">12-04-2002</p>
            </div>
            <div class="quest-container">
              <p class="quest-text" th:text="${reminder.quest}">Лабораторные работы</p>
            </div>
          </a>
        </div>
      </div>
        <div class="tabs">
          <nav class="tabs-nav">
            <a class="tabs-nav-btn task active" data-tab="#task"> Напоминание</a>
            <a class="tabs-nav-btn lab" data-tab="#lab"> Лабороторные</a>
          </nav>
          <div class="tabs-content task" id="tabs-content">
            <div id="task" class="tabs-item active">
              <form onsubmit="return validationQuest()" th:action="@{/create-reminder}" id="formQuest" th:object="${reminder}" method="post">
                <div class="div-form-item">
                  <label class="label-input" for="lessonName">Предмет: </label>
                  <div class="input-div">
                    <div>
                      <select id="lessonName" class="input-data" th:field="*{lessonName}">
                        <option value=""></option>
                        <option th:each="name: ${nameLessons}"
                                th:value="${name}"
                                th:text="${name}">
                          Name Lesson
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="div-form-item">
                  <label class="label-input" for="quest">Задание: </label>
                  <div class="input-div">
                    <div>
                      <input id="quest" class="input-data"  type="text" th:field="*{quest}">
                    </div>
                  </div>
                </div>
                <div class="div-form-item">
                  <label class="label-input" for="date">Дата сдачи: </label>
                  <div class="input-div">
                    <div>
                      <input id="date" class="input-data" type="date" th:field="*{date}">
                    </div>
                  </div>
                </div>
                <label class="label-input" for="switchR">Повторять: </label>
                <input id="switchR" class="checkboxes" type="checkbox" th:field="*{switchR}"><br/>
                <div id="hide1" class="hidden-div" >
                  <label class="label-input" for="settingSwitch">Как: </label>
                  <div class="input-div">
                    <div>
                      <select id="settingSwitch" class="input-data" th:field="*{settingSwitch}">
                        <option th:each="value: ${switch}"
                                th:value="${value}"
                                th:text="${value.getSetting()}">
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="hide2" class="hidden-div">
                  <label class="label-input" for="day">День: </label>
                  <div class="input-div">
                    <div>
                      <select id="day" class="input-data"  th:field="*{dayOfWeek}">
                        <option th:value="Невыбрано">Невыбрано</option>
                        <option th:each="day: ${days}"
                                th:value="${day}"
                                th:text="${day.getDay()}">
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="hide3" class="hidden-div" >
                  <label class="label-input" for="time">Когда: </label>
                  <div class="input-div">
                    <div>
                      <input id="time" class="input-time" type="time" th:field="*{time}"><br/>
                    </div>
                  </div>
                </div>
                <div class="div-flex">
                  <input type="submit" class="button" value="Создать">
                </div>
              </form>
            </div>
            <div id="lab" class="tabs-item">
              <form action="#" onsubmit="return validationLab()" th:action="@{/create-reminder}" th:object="${reminder}" method="post">
                <div class="div-flex">
                  <label class="label-input" for="lessonNameL">Предмет: </label>
                  <div class="input-div">
                    <div>
                      <select id="lessonNameL" class="input-data" th:field="*{lessonName}">
                        <option value=""></option>
                        <option th:each="name: ${nameLessons}"
                                th:value="${name}"
                                th:text="${name}">
                          Name Lesson
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="div-flex">
                      <label class="label-input" for="questL">Задание: </label>
                      <div class="input-div">
                        <div>
                          <input id="questL" class="input-data"  type="text" th:field="*{quest}">
                        </div>
                      </div>
                    </div>
                <div class="div-flex">
                      <label class="label-input" for="needWork">Кол-во: </label>
                      <div class="input-div">
                        <div>
                          <input id="needWork" class="input-data" value="Лабораторные работы:" type="number" th:field="*{needWork}">
                        </div>
                      </div>
                    </div>
                <div class="div-flex">
                  <input type="submit" class="button" value="Создать">
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script th:src="@{js/script.js}"></script>
<script th:src="@{js/tabs.js}"></script>
</body>
</html>