<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
 lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link media="all" rel="stylesheet" th:href="@{/css/logRegist.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>


<form class="container-center" th:action="@{/registration}" method="post">
    <div class="massage-fail" th:if="${param.error}">
        Неверное имя пользователя и пароль.
    </div>
    <div class="massage-fail" th:if="${massageUserIsExist}">
        Такой пользователь существует!
    </div>
    <div class="massage-fail" th:if="${massagePasswordsNotMatch}">
        Пороли не совпадают!
    </div>
    <div><label class="label-input-big"> Логин: <input class="input-big" type="text" name="login"/> </label></div>
    <div><label class="label-input-big"> Пароль: <input class="input-big" type="password" name="password"/> </label></div>
    <div><label class="label-input-big"> Повторите пароль: <input class="input-big" type="password" name="confPassword"/> </label></div>
    <div class="div-button-center"><input class="button-login-big" type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>