<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/timetable.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/reminders.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/tabs.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/form.css}" type="text/css"/>
    <title>Изменение напоминания</title>
</head>
<body>
<div class="vBox">
    <div class="menu">
        <div class="title">
            <a href="/set-week-count" class="title-a" method="get" >Студеньческий органайзер</a>
        </div>
        <div class="menu_buttons">
            <a href="/lessons/set-week-count">
                <button  class="button-menu" > Предметы </button>
            </a>
            <a href="/timetable">
                <button class="button-menu" >  Расписание </button>
            </a>

        </div>
        <div class="div-logout">
            <form th:action="@{/logout}" method="post">
                <input class="button-menu" icon="/img/logout.png" type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
    <div class="main-container">
        <div class="timetable">
            <div class="container-timetable">
                <a th:href="@{/reminder-update/backW/{id}(id=${updateReminder.getId()})}" class="button-week back"  ><img src="/img/right.png" alt="Кнопка «button»"></a>
                <div class="one-day">
                    <div class="day-name-div" >
                        <p class="day-name">Понедельник</p>
                    </div>
                    <div th:each="lesson:${lessons[0]}" >
                        <div th:switch="${lesson.type}">
                            <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="*" th:text="'&#160'"></div>
                        </div>
                    </div>
                </div>
                <div class="one-day">
                    <div class="day-name-div" >
                        <p class="day-name">Вторник</p>
                    </div>
                    <div th:each="lesson:${lessons[1]}" >
                        <div th:switch="${lesson.type}">
                            <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="*" th:text="'&#160'"></div>
                        </div>
                    </div>
                </div>
                <div class="one-day">
                    <div class="day-name-div" >
                        <p class="day-name">Среда</p>
                    </div>
                    <div th:each="lesson:${lessons[2]}" >
                        <div th:switch="${lesson.type}">
                            <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="*" th:text="'&#160'"></div>
                        </div>
                    </div>
                </div>
                <div class="one-day">
                    <div class="day-name-div" >
                        <p class="day-name">Четверг</p>
                    </div>
                    <div th:each="lesson:${lessons[3]}" >
                        <div th:switch="${lesson.type}">
                            <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="*" th:text="'&#160'"></div>
                        </div>
                    </div>
                </div>
                <div class="one-day">
                    <div class="day-name-div" >
                        <p class="day-name">Пятница</p>
                    </div>
                    <div th:each="lesson:${lessons[4]}" >
                        <div th:switch="${lesson.type}">
                            <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="*" th:text="'&#160'"></div>
                        </div>
                    </div>
                </div>
                <div class="one-day">
                    <div class="day-name-div" >
                        <p class="day-name">Суббота</p>
                    </div>
                    <div th:each="lesson:${lessons[5]}" >
                        <div th:switch="${lesson.type}">
                            <div th:case="${typeLesson[0]}" class="lesson-div lecture ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[1]}" class="lesson-div lab ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[2]}" class="lesson-div practice ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="${typeLesson[3]}" class="lesson-div consultation ">
                                <p class="lesson-name-p" th:text="${lesson.name}"></p>
                            </div>
                            <div th:case="*" th:text="'&#160'"></div>
                        </div>
                    </div>
                </div>
                <a th:href="@{/reminder-update/nextW/{id}(id=${updateReminder.getId()})}" class="button-week next"><img src="/img/left.png" alt="Кнопка «button»"></a>
            </div>
        </div>
        <div class="second-container">
            <div class="reminder-container">
                <div class="reminder-title">
                    <p>Задания</p>
                </div>
                <div class="reminders-container">
                    <a th:each="reminder:${reminders}" th:href="@{/reminder-update/{id}(id=${reminder.getId()})}" class="reminder">
                        <div class="name-container" >
                            <p class="name-reminder" th:text="${reminder.lessonName}">Предмет</p>
                            <p class="name-reminder" th:text="${reminder.date}">12-04-2002</p>
                        </div>
                        <div class="quest-container">
                            <p th:text="${reminder.quest}" class="quest-text">Лабораторные работы</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="form-reminder-update">
                <div th:switch="${updateReminder.needWork}">
                    <div th:case="0">
                        <form onsubmit="return validationRemUpdate()"  th:href="@{/reminder-update/{id}(id=${updateReminder.getId()})}"
                              th:object="${updateReminder}" th:method="PUT">
                            <div style="display: flex">
                                <label class="label-input" for="lessonName">Предмет: </label>
                                <div class="input-div">
                                    <select id="lessonName" class="input-data" th:field="*{lessonName}">
                                        <option th:each="name: ${nameLessons}"
                                                th:value="${name}"
                                                th:text="${name}">
                                            Lesson Name no exist
                                        </option>
                                    </select>
                                </div>
                                <br/>
                            </div>
                            <div style="display: flex">
                                <label class="label-input" for="quest">Задание: </label>
                                <div class="input-div">
                                    <div>
                                        <input id="quest" class="input-data" type="text" th:field="*{quest}"><br/>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex">
                                <label class="label-input" for="date">Дата сдачи: </label>
                                <div class="input-div">
                                    <div>
                                        <input id="date" class="input-data" type="date" th:field="*{date}"><br/>
                                    </div>
                                </div>
                            </div>

                            <label class="label-input" for="switchR-update">Повторять: </label>
                            <input id="switchR-update" class="checkboxes" type="checkbox" th:field="*{switchR}"><br/>
                            <div id="divSettingSwitch" class="hidden-div">
                                <label class="label-input" for="settingSwitch">Как: </label>
                                <div class="input-div">
                                    <div>
                                        <select id="settingSwitch" class="input-data" th:field="*{settingSwitch}">
                                            <option th:each="value: ${switch}"
                                                    th:value="${value}"
                                                    th:text="${value.getSetting()}">day
                                            </option>
                                        </select><br/>
                                    </div>
                                </div>
                            </div>
                            <div id="divSelectDay" class="hidden-div">
                                <label class="label-input" for="day">День: </label>
                                <div class="input-div">
                                    <div>
                                        <select id="day" class="input-data" th:field="*{dayOfWeek}">
                                            <option th:value="${updateReminder.dayOfWeek}"
                                                    th:text="${updateReminder.dayOfWeek.getDay()}"></option>
                                            <option th:each="day: ${days}"
                                                    th:value="${day}"
                                                    th:text="${day.getDay()}">
                                                day
                                            </option>
                                        </select><br/>
                                    </div>

                                </div>
                            </div>
                            <div id="divTime" class="hidden-div">
                                <label class="label-input" for="time">Когда: </label>
                                <div class="input-div">
                                    <div>
                                        <input id="time" class="input-time" type="time" th:field="*{time}"><br/>
                                    </div>
                                </div>
                            </div>
                            <div class="div-form-item">
                                <input type="submit" class="button"  value="Сохранить">
                                <div class="input-div">
                                    <a class="a-delete-timetable" onclick="deleteReminder(this)" >
                                        <img class="img-delete-lesson" src="/img/delete.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:case="*">
                        <form onsubmit="return validationRemLabUpdate()" th:action="@{/reminder-update/{id}(id=${updateReminder.getId()})}"
                              th:object="${updateReminder}" th:method="PUT">
                            <input type="hidden" readonly  th:field="*{idUser}" th:value="${updateReminder.idUser}">
                            <div style="display: flex">
                                <label class="label-input" for="lessonNameL">Предмет: </label>
                                <div class="input-div">
                                    <div>
                                        <select id="lessonNameL" class="input-data" th:field="*{lessonName}">
                                            <option th:each="name: ${nameLessons}"
                                                    th:value="${name}"
                                                    th:text="${name}">
                                                Name Lesson
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="div-form-item">
                                <label class="label-input" for="questL">Задание: </label>
                                <div class="input-div">
                                    <div>
                                        <input id="questL" class="input-data" type="text" th:field="*{quest}"><br/>
                                    </div>
                                </div>
                            </div>
                            <div class="div-form-item">
                                <p class="label-input" th:text="'Здано: ' + ${updateReminder.closeWork} +' из ' + ${updateReminder.needWork} "></p>
                                <div>
                                    <a class="button a-button" onclick="closeWork(this)">Сдать</a>
                                </div>
                            </div>
                            <div class="div-form-item">
                                <a class="a-need-work" id="aNeedWork">изменить кол-во задиний</a>
                            </div>
                            <div class="hidden-div active" id="divNeedWork">
                                <label class="label-input" for="needWork">Кол-во: </label>
                                <div class="input-div">
                                    <div>
                                        <input id="needWork" class="input-data" value="Лабораторные работы:" type="hidden"
                                               th:field="*{needWork}">
                                    </div>
                                </div>
                            </div>
                            <input  class="input-data" value="Лабораторные работы:" type="hidden"
                                   th:field="*{closeWork}">
                            <div class="div-form-item">
                                <input type="submit" class="button"  value="Сохранить">
                                <div class="input-div">
                                    <a class="a-delete-timetable" onclick="deleteReminder(this)" >
                                        <img class="img-delete-lesson" src="/img/delete.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </form>
                        <form id="closeWorkForm"  th:action="@{/reminder-update/close-work/{id}(id=${updateReminder.getId()})}" th:method="PUT"></form>
                    </div>
                    <form id="deleteReminderForm"  th:action="@{/reminder-update/{id}(id=${updateReminder.getId()})}" th:method="DELETE"></form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script th:src="@{../js/tabs.js}"></script>
<script th:src="@{../js/update-reminder.js}"></script>
</html>