<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="data:,">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
  <link media="all" rel="stylesheet" th:href="@{/css/bigTimetable.css}" type="text/css"/>
  <link media="all" rel="stylesheet" th:href="@{/css/form.css}" type="text/css"/>
  <title>Расписание</title>
</head>
<body>
<div class="vBox">
  <div class="menu">
    <div class="title">
      <a href="/" class="title-a" method="get" >Студеньческий органайзер</a>
    </div>
    <div class="menu_buttons">
      <a href="/lessons">
        <button  class="button-menu" > Предметы </button>
      </a>
      <a href="/timetable">
        <button class="button-menu" >  Расписание </button>
      </a>

    </div>
    <div class="div-logout">
      <form th:action="@{/logout}" method="post">
        <input class="button-menu" icon="/img/logout.png" type="submit" value="Выйти"/>
      </form>
    </div>
  </div>
  <div class="main-container">
      <div>
        <div class="timetable-two-week-container">
        <div class="week">
        <div class="number-week">
          <span class="span-number-week">I</span>
        </div>
          <div class="one-day">
            <div class="day-name-div" >
              <p class="day-name">Понедельник</p>
            </div>
            <div th:each="lesson:${lessons[0][0]}">
              <div th:switch="${lesson.type}">
                <div th:case="${typeLesson[0]}" th:popup-id="${lesson.id}"  class="lesson-div ignore-height lecture open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="${typeLesson[1]}" th:popup-id="${lesson.id}"  class="lesson-div ignore-height lab open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="${typeLesson[2]}" th:popup-id="${lesson.id}"  class="lesson-div ignore-height practice open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="${typeLesson[3]}" th:popup-id="${lesson.id}" class="lesson-div ignore-height consultation open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="*" th:text="'&#160'"></div>
              </div>
            </div>
          </div>
          <div class="one-day">
            <div class="day-name-div" >
              <p class="day-name">Вторник</p>
            </div>
            <div th:each="lesson:${lessons[0][1]}">
              <div th:switch="${lesson.type}">
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="*" th:text="'&#160'"></div>
              </div>
            </div>
          </div>
          <div class="one-day">
            <div class="day-name-div" >
              <p class="day-name">Среда</p>
            </div>
            <div th:each="lesson:${lessons[0][2]}">
              <div th:switch="${lesson.type}">
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="*" th:text="'&#160'"></div>
              </div>
            </div>
          </div>
          <div class="one-day">
            <div class="day-name-div" >
              <p class="day-name">Четверг</p>
            </div>
            <div th:each="lesson:${lessons[0][3]}">
              <div th:switch="${lesson.type}">
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="*" th:text="'&#160'"></div>
              </div>
            </div>
          </div>
          <div class="one-day">
            <div class="day-name-div" >
              <p class="day-name">Пятница</p>
            </div>
            <div th:each="lesson:${lessons[0][4]}">
              <div th:switch="${lesson.type}">
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="*" th:text="'&#160'"></div>
              </div>
            </div>
          </div>
          <div class="one-day">
            <div class="day-name-div" >
              <p class="day-name">Суббота</p>
            </div>
            <div th:each="lesson:${lessons[0][5]}">
              <div th:switch="${lesson.type}">
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                  <div class="div-nameAndRoom">
                    <p class="lesson-name-p" th:text="${lesson.name}"></p>
                    <p class="lesson-room-p" th:text="${lesson.room}"></p>
                  </div>
                  <p class="lesson-time-p" th:text="${lesson.time}"></p>
                </div>
                <div th:case="*" th:text="'&#160'"></div>
              </div>
            </div>
          </div>
        </div >
          <div class="week">
            <div class="number-week">
              <span class="span-number-week">I</span>
            </div>
            <div class="one-day">
              <div class="day-name-div" >
                <p class="day-name">Понедельник</p>
              </div>
              <div th:each="lesson:${lessons[1][0]}">
                <div th:switch="${lesson.type}">
                  <div th:case="${typeLesson[0]}" th:popup-id="${lesson.id}"  class="lesson-div ignore-height lecture open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="${typeLesson[1]}" th:popup-id="${lesson.id}"  class="lesson-div ignore-height lab open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="${typeLesson[2]}" th:popup-id="${lesson.id}"  class="lesson-div ignore-height practice open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="${typeLesson[3]}" th:popup-id="${lesson.id}" class="lesson-div ignore-height consultation open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="*" th:text="'&#160'"></div>
                </div>
              </div>
            </div>
            <div class="one-day">
              <div class="day-name-div" >
                <p class="day-name">Вторник</p>
              </div>
              <div th:each="lesson:${lessons[1][1]}">
                <div th:switch="${lesson.type}">
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="*" th:text="'&#160'"></div>
                </div>
              </div>
            </div>
            <div class="one-day">
              <div class="day-name-div" >
                <p class="day-name">Среда</p>
              </div>
              <div th:each="lesson:${lessons[1][2]}">
                <div th:switch="${lesson.type}">
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="*" th:text="'&#160'"></div>
                </div>
              </div>
            </div>
            <div class="one-day">
              <div class="day-name-div" >
                <p class="day-name">Четверг</p>
              </div>
              <div th:each="lesson:${lessons[1][3]}">
                <div th:switch="${lesson.type}">
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="*" th:text="'&#160'"></div>
                </div>
              </div>
            </div>
            <div class="one-day">
              <div class="day-name-div" >
                <p class="day-name">Пятница</p>
              </div>
              <div th:each="lesson:${lessons[1][4]}">
                <div th:switch="${lesson.type}">
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="*" th:text="'&#160'"></div>
                </div>
              </div>
            </div>
            <div class="one-day">
              <div class="day-name-div" >
                <p class="day-name">Суббота</p>
              </div>
              <div th:each="lesson:${lessons[1][5]}">
                <div th:switch="${lesson.type}">
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[0]}" class="lesson-div ignore-height lecture open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[1]}" class="lesson-div ignore-height lab open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[2]}" class="lesson-div ignore-height practice open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:popup-id="${lesson.id}" th:case="${typeLesson[3]}" class="lesson-div ignore-height consultation open-popup">
                    <div class="div-nameAndRoom">
                      <p class="lesson-name-p" th:text="${lesson.name}"></p>
                      <p class="lesson-room-p" th:text="${lesson.room}"></p>
                    </div>
                    <p class="lesson-time-p" th:text="${lesson.time}"></p>
                  </div>
                  <div th:case="*" th:text="'&#160'"></div>
                </div>
              </div>
            </div>
          </div >
        </div>
        <div class="button-add-lesson-timetable-container">
          <button popup-id="0" class="button-add-lesson-timetable open-popup"> + </button>
        </div>
      </div>
  </div>
</div>

<div id="0" class="popup-bg none">
  <div class="popup">
    <img  popup-id="0" class="close-popup" th:src="@{img/close-popup.png}" alt="" src="">
    <form action="#" onsubmit="return validationTimetable(0)" th:action="@{/timetable}" id="formQuest" th:object="${newLessonTimetable}" th:method="POST">
      <div class="div-form-item">
        <label class="label-input" for="lessonName">Предмет: </label>
        <div class="input-div">
          <div>
            <select id="lessonName" class="input-data" th:field="*{name}">
              <option value="Выберите предмет">Выберите предмет</option>
              <option th:each="name: ${nameLessons}"
                      th:value="${name}"
                      th:text="${name}">
                Name Lesson
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="div-form-item">
        <label class="label-input" for="teacher">Преподователь: </label>
        <div class="input-div">
          <div>
            <input id="teacher" class="input-data"  type="text" th:field="*{teacher}">
          </div>
        </div>
      </div>
      <div class="div-form-item">
        <label class="label-input" for="room">Аудитория: </label>
        <div class="input-div">
          <div>
            <input id="room" class="input-data" type="text" th:field="*{room}">
          </div>
        </div>
      </div>
      <div class="div-form-item">
      <label class="label-input" for="type">Тип пары: </label>
      <div class="input-div">
        <select id="type" class="input-data" th:field="*{type}">
          <option th:each="type: ${typeLesson}"
                  th:value="${type}"
                  th:text="${type.getType()}">
          </option>
        </select>
      </div>
      </div>
      <div class="div-form-item">
      <label class="label-input" for="dayOfWeek">День недели: </label>
      <div class="input-div">
        <select id="dayOfWeek" class="input-data" th:field="*{dayOfWeek}">
          <option th:each="day: ${dayOfWeek}"
                  th:value="${day}"
                  th:text="${day.getDay()}">
          </option>
        </select><br/>
      </div><br/>
      </div>
      <div class="div-form-item" >
        <label class="label-input" for="shift">Смена: </label>
        <div class="input-div">
          <select id="shift" class="input-data">
            <option th:each="shift: ${shiftEducation}"
                    th:value="${shift}"
                    th:text="${shift}">
            </option>
          </select><br/>
        </div><br/>
      </div>
      <div class="div-form-item none" id="secondTime">
        <label class="label-input" for="time2">Время начала: </label>
        <div class="input-div">
          <select id="time2" class="input-data none" th:field="*{time}">
            <option th:each="time: ${secondTime}"
                    th:value="${time}"
                    th:text="${time}">
            </option>
          </select>
          <select id="time1" class="input-data" th:field="*{time}">
            <option th:each="time: ${firstTime}"
                    th:value="${time}"
                    th:text="${time}">
            </option>
          </select><br/>
        </div><br/>
      </div>
      <div class="div-form-item">
      <label class="label-input" for="numberOfWeek">Номер недели: </label>
      <div class="input-div">
        <select id="numberOfWeek" class="input-data" th:field="*{numberOfWeek}">
          <option th:each="number: ${numberOfWeek}"
                  th:value="${number}"
                  th:text="${number}">
          </option>
        </select><br/>
      </div><br/>
          </div>
      <div class="hidden-div"><input type="submit" class="button" value="Создать"></div>
    </form>
  </div>
</div>
<div th:each="oneLesson:${allLessons}">
  <div th:id="${oneLesson.id}" class="popup-bg none">
    <div class="popup">
      <img th:popup-id="${oneLesson.id}" class="close-popup" th:src="@{img/close-popup.png}" alt="" src="">
      <form th:onsubmit="'return validationTimetable(' + ${oneLesson.id} + ')'" th:action="@{/timetable/{id}(id=${oneLesson.getId()})}"
            th:id="'formQuest' + ${oneLesson.id}" th:object="${updateLesson}" th:method="PUT">
        <input type="hidden" th:field="*{idUser}" th:value="${oneLesson.idUser}">
        <div class="div-form-item">
          <label class="label-input" th:for="'lessonName' + ${oneLesson.id}">Предмет: </label>
          <div class="input-div">
            <div>
              <select th:field="*{name}" th:id="'lessonName' + ${oneLesson.id}" class="input-data" >
                <option th:value="${oneLesson.name}"
                        th:text="${oneLesson.name}"></option>
                <option th:each="name: ${nameLessons}"
                        th:value="${name}"
                        th:text="${name}">
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="div-form-item">
          <label class="label-input" th:for="teacher+ ${oneLesson.id}">Преподователь: </label>
          <div class="input-div">
            <div>
              <input th:id="teacher + ${oneLesson.id}" class="input-data" type="text" th:placeholder="${oneLesson.teacher}" th:field="*{teacher}">
            </div>
          </div>
        </div>
        <div class="div-form-item">
          <label class="label-input" th:for="room+ ${oneLesson.id}">Аудитория: </label>
          <div class="input-div">
            <div>
              <input th:id="room+ ${oneLesson.id}" class="input-data" type="text" th:placeholder="${oneLesson.room}" th:field="*{room}">
            </div>
          </div>
        </div>
        <div class="div-form-item">
          <label class="label-input" th:for="type+ ${oneLesson.id}">Тип пары: </label>
          <div class="input-div">
            <select th:id="type+ ${oneLesson.id}" th:value="${oneLesson.type}" class="input-data" th:field="*{type}">
              <option th:value="${oneLesson.type}"
                      th:text="${oneLesson.type.getType()}"></option>
              <option th:each="type: ${typeLesson}"
                      th:value="${type}"
                      th:text="${type.getType()}">
              </option>
            </select>
          </div>
        </div>
        <div class="div-form-item">
          <label class="label-input" th:for="dayOfWeek+ ${oneLesson.id}">День недели: </label>
          <div class="input-div">
            <select th:id="dayOfWeek+ ${oneLesson.id}" class="input-data" th:field="*{dayOfWeek}">
              <option th:value="${oneLesson.dayOfWeek}"
                      th:text="${oneLesson.dayOfWeek.getDay()}"></option>
              <option th:each="day: ${dayOfWeek}"
                      th:value="${day}"
                      th:text="${day.getDay()}">
              </option>
            </select>
          </div>
        </div>
        <div class="div-form-item" >
          <label class="label-input" th:for="shift+ ${oneLesson.id}">Смена: </label>
          <div class="input-div">
            <select th:id="shift+ ${oneLesson.id}" class="input-data">
              <option th:each="shift: ${shiftEducation}"
                      th:value="${shift}"
                      th:text="${shift}">
              </option>
            </select>
          </div>
        </div>
        <div class="div-form-item none" th:id="secondTime+ ${oneLesson.id}">
          <label class="label-input" th:for="time2+ ${oneLesson.id}">Время начала: </label>
          <div class="input-div">
            <select th:id="time2+ ${oneLesson.id}" class="input-data none" th:field="*{time}">
              <option th:value="${oneLesson.time}"
                      th:text="${oneLesson.time}"></option>
              <option th:each="time: ${secondTime}"
                      th:value="${time}"
                      th:text="${time}">
              </option>
            </select>
            <select th:id="time1+ ${oneLesson.id}"  class="input-data" th:field="*{time}">
              <option th:value="${oneLesson.time}"
                      th:text="${oneLesson.time}"></option>
              <option th:each="time: ${firstTime}"
                      th:value="${time}"
                      th:text="${time}">
              </option>
            </select>
          </div>
        </div>
        <div class="div-form-item">
          <label class="label-input" th:for="numberOfWeek+ ${oneLesson.id}">Номер недели: </label>
          <div class="input-div">
            <select th:id="numberOfWeek+ ${oneLesson.id}" class="input-data" th:field="*{numberOfWeek}">
              <option th:value="${oneLesson.numberOfWeek}"
                      th:text="${oneLesson.numberOfWeek}"></option>
              <option th:each="number: ${numberOfWeek}"
                      th:value="${number}"
                      th:text="${number}">
              </option>
            </select><br/>
          </div><br/>
        </div>
        <div class="div-form-item">
          <input type="submit" class="button" value="Сохранить">
            <div class="input-div">
              <a class="a-delete-timetable" >
                <img class="img-delete-lesson" th:id="img+${oneLesson.id}" onclick="clickDeleteTimetable(this)" th:src="@{/img/delete.png}" alt="" src="">
              </a>
            </div>
        </div>
      </form>
      <form th:id="formDel+${oneLesson.id}" th:action="@{/timetable/{id}(id=${oneLesson.getId()})}" th:method="DELETE"></form>
    </div>
  </div>
</div>
<script th:src="@{js/script.js}"></script>
<script th:src="@{js/timetable.js}"></script>
</body>
</html>